.slds-table{
    width: 100% !important;
    //background: red;
    text-wrap: balance !important;
    table-layout: fixed;
}

.field-value{
    text-wrap: balance !important;
}

.slds-scope .slds-truncate{
    text-wrap: balance !important;
}