.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-range {
    margin-right: auto; /* Aligns date range to the left */
    font-size: large;
}

.button-container {
    display: flex;
}